<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cao.mapper.BaseDataMapper">
  <resultMap id="BaseResultMap" type="cn.cao.pojo.BaseData">
    <id column="base_id" jdbcType="BIGINT" property="baseId" />
    <result column="base_name" jdbcType="VARCHAR" property="baseName" />
    <result column="base_desc" jdbcType="VARCHAR" property="baseDesc" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    base_id, base_name, base_desc, parent_id
  </sql>
  <!-- 	#根据 父分类id 查找 他拥有的子分类	 -->
  <select id="selectByBaseDataParentName"  resultMap="BaseResultMap" >
    select * from t_base_data where parent_id = (select base_id from t_base_data where base_name =	#{baseDateParentName})
  </select>
  
  <select id="selectByExample" parameterType="cn.cao.pojo.BaseDataExample" resultMap="BaseResultMap">
   	SELECT c.*,p.base_name AS parentName 
   	FROM t_base_data c LEFT JOIN  t_base_data p ON c.parent_id = p.base_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      ORDER BY c.parent_id
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_base_data
    where base_id = #{baseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_base_data
    where base_id = #{baseId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.cao.pojo.BaseData">
    insert into t_base_data (base_id, base_name, base_desc, 
      parent_id)
    values (#{baseId,jdbcType=BIGINT}, #{baseName,jdbcType=VARCHAR}, #{baseDesc,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.cao.pojo.BaseData">
    insert into t_base_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="baseId != null">
        base_id,
      </if>
      <if test="baseName != null">
        base_name,
      </if>
      <if test="baseDesc != null">
        base_desc,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="baseId != null">
        #{baseId,jdbcType=BIGINT},
      </if>
      <if test="baseName != null">
        #{baseName,jdbcType=VARCHAR},
      </if>
      <if test="baseDesc != null">
        #{baseDesc,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cao.pojo.BaseData">
    update t_base_data
    <set>
      <if test="baseName != null">
        base_name = #{baseName,jdbcType=VARCHAR},
      </if>
      <if test="baseDesc != null">
        base_desc = #{baseDesc,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
    </set>
    where base_id = #{baseId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cao.pojo.BaseData">
    update t_base_data
    set base_name = #{baseName,jdbcType=VARCHAR},
      base_desc = #{baseDesc,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT}
    where base_id = #{baseId,jdbcType=BIGINT}
  </update>
</mapper>